@using Luccy.CommonModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<PermModel> perm = ViewBag.permission as List<PermModel>;
}
<script>
    $(function () {
        $('#layout').layout();
        treeView();
        gridList();
    });
    function treeView() {
        $("#itemTree").treeview({
            url: "@Url.Action("GetTreeViewJson", "SysModule")",
            onnodeclick: function (item) {
                //$("#txt_keyword").val('')
                $("#gridList").jqGrid('setGridParam', {
                    url: "@Url.Action("GetMenuGridJson", "SysModuleOperate")",
                    postData: { menuId: $("#itemTree").getCurrentNode().id },
                }).trigger('reloadGrid');
            }
        });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "Id", hidden: true, key: true },
                { label: '名称', name: 'Name', width: 150, align: 'left' },
                { label: '操作码', name: 'KeyCode', width: 150, align: 'left' },
                { label: '所属模块', name: 'ModuleId', width: 80, align: 'center' },
                {
                  label: '是否验证', name: 'IsValid',  width: 80, align: 'center', formatter: function (value) {
                        if (value) {
                            return "<img src='/Content/Images/icon/pass.png'/>";
                        } else {
                            return "<img src='/Content/Images/icon/no.png'/>";
                        }
                    }
                },
                { label: '排序', name: 'Sort',  width: 80, sortable: true }
            ]
        });
    }
    function btn_add() {
        var itemId = $("#itemTree").getCurrentNode().id;
        var itemName = $("#itemTree").getCurrentNode().text;
        if (!itemId) {
            return false;
        }
        $.modalOpen({
            id: "Form",
            title: itemName + " 》新增操作码",
            url: "@Url.Action("Form","SysModuleOperate")"+"?itemId=" + itemId,
            width: "450px",
            height: "350px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var itemName = $("#itemTree").getCurrentNode().text;
        var keyValue = $("#gridList").jqGridRowValue().Id;
        $.modalOpen({
            id: "Form",
            title: itemName + " 》修改操作码",
            url: "@Url.Action("Form","SysModuleOperate")"+"?keyValue=" + keyValue,
            width: "450px",
            height: "350px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "@Url.Action("DeleteForm", "SysModuleOperate")",
            param: { Id: $("#gridList").jqGridRowValue().Id },
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
    //function btn_details() {
    //    var keyValue = $("#gridList").jqGridRowValue().F_Id;
    //    $.modalOpen({
    //        id: "Details",
    //        title: "查看字典",
    //        url: "/SystemManage/ItemsData/Details?keyValue=" + keyValue,
    //        width: "450px",
    //        height: "470px",
    //        btn: null,
    //    });
    //}
    //function btn_itemstype() {
    //    $.modalOpen({
    //        id: "ItemsType",
    //        title: "字典分类",
    //        url: "/SystemManage/ItemsType/Index",
    //        width: "800px",
    //        height: "550px",
    //        btn: null,
    //    });
    //}
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="btn-group">
                    @Html.ToolButton("btn btn-primary dropdown-text", "NF-add", "fa fa-plus", "新建操作码", perm, "Add", "btn_add()", true)
                </div>
                <div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li> @Html.ToolButton("", "NF-edit", "fa fa-pencil-square-o", "修改操作码", perm, "Edit", "btn_edit()", true)</li>
                        <li> @Html.ToolButton("", "NF-delete", "fa fa-trash-o", "删除操作码", perm, "Delete", "btn_delete()", true)</li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
        </div>
    </div>
</div>


